<h2>貸出備品一覧</h2>

<hr>

<% if @rentals.any? %>
<table class="table table-bordered table-hover">
  <thead>
     <tr class="info">
       <th>名前</th>
       <th>貸出日時</th>
       <th>返却予定日<th>
     </tr>
  </thead>
  <tbody>
    <% @rentals.each do |rental| %>
    <tr>
    <td><%= rental.item.name %></td>
    <td><%= rental.rental_date.strftime('%Y/%m/%d') %></td>
    <td><%= rental.return_date.strftime('%Y/%m/%d') %></td>
    <td width="100" align="center">
      <%= link_to '返却', rental_path(rental.id), method: :delete, data: { confirm: "この本を返却します。よろしいですか？" }, :class => "btn btn-danger" %>
    </td>
    </tr>
    <% end %>
  </tbody>
</table>
<% else %>
  <h4>貸出中の備品はありません</h4>
<% end %>

