<div class="row">
  <div class="col-lg-10 mt-5 mb-5 mx-auto">
    <h2 class="page_title col-lg-6 offset-lg-4">MONOMAMORIとは</h2>
  	<div class="about_text_box">
	  	<p>さまざまな備品を一元管理するサービスです。<br>
		  「どこに」「何が」あるのか、そして「誰が」使っているのかを把握することができます。</p>
  	</div>
    <div class="cloud_box mt-5 mx-auto">
		<h4>管理する人も利用する人も<br>社内備品のこんな困りごとありませんか？</h4>
		<ul>
			<li>備品をアナログ管理でしているので、保管場所まで行かないと貸出状況を確認できない...</li>
			<li>備品の場所が分かりにくいので、探すのに手間がかかる...</li>
			<li>備品が行方不明になってしまう...</li>
		</ul>
	  </div>
	  <h4 class="mt-5">そんなお悩みを解決し、社内備品に関わる「少しでもラクに...!」をお手伝いします。</h4>
	  <hr>
	</div>


        <div class="about-item col-lg-10 mx-auto">

          <h3 class="subtitle">MONOMAMORIができること</h3>
          <div class=" d-flex ">

          <div class="about-point mt-5">
            <p class="about-item_name">Point</p><p class="about-item_number">01</p>
            <div class="about-item_right">
              <p class="about-item_catch">社内備品の可視化</p>
              <p class="about-item_text">
                備品の保管場所、貸し出し状況などが不明確な場合、問い合わせ業務に時間を取られることもしばしば...。
                リアルタイムに購入品の更新、貸出・返却状況を全員が確認できるため、業務の効率化が期待できます。
              </p>
            </div>
          </div>

          <div class="about-point mt-5">
            <p class="about-item_name">Point</p><p class="about-item_number">02</p>
            <div class="about-item_right">
              <p class="about-item_catch">社内備品の管理台帳整備</p>
              <p class="about-item_text">
                台帳管理が正しく行われていなければ、台帳と現物の乖離が生じます。資産の有効活用ができず無駄な購入が多々発生することも...。
                社内備品を一元管理することで、什器・備品管理におけるさまざまな課題を解決できます。
              </p>
            </div>
          </div>

          <div class="about-point mt-5">
            <p class="about-item_name">Point</p><p class="about-item_number">03</p>
            <div class="about-item_right">
              <p class="about-item_catch">社内備品の貸出・返却</p>
              <p class="about-item_text">
                社内の保管庫から頻繁に持ち出される機器はちゃんと返却されていますか？「誰が」「どこに」「何を」持って行ったのか、
                そしてその機器は返却されたのかを押さえなければ、頻繁に紛失が発生したり、必要以上に買い足しをしてしまうかもしれません。<br>
                MONOMAMORIなら機器を1品ごと個別に管理できるので、物の出入りをしっかり押さえ、適正な管理が実現できます。
              </p>
            </div>
          </div>

          </div>
        </div>