<div class="row">
  <div class="col-lg-10 mt-5 mb-5 mx-auto">
    <h2 class="page_title col-lg-6 offset-lg-4">MONOMAMORIとは</h2>
  	<div class="about_text_box">
	  	<p>さまざまな備品を一元管理するサービスです。<br>
		  「どこに」「何が」あるのか、そして「誰が」使っているのかを把握することができます。</p>
	    <%= link_to "　もっと詳しく　", about_path, class: "btn btn_yellow" %>
  	</div>
	</div>
</div>