/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";


/* カラーコード */
$light_blue: #00B6C2;
$navy: #101d4d;
$white: #ffffff;
$yellow: #FFEB00;
$light_green: #A1BE00;
$gray: #dee2e6;
$dark_gray: #383838;
$red:#c70000;

/* 共通 */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: $dark_gray;
}

body{
	display: flex;
	flex-flow: column;
	min-height: 100vh;
}

main{
	flex: 1;
}

a{
	text-decoration: none;
	color: $navy;

	&:hover{
		text-decoration: none;
	}
}

.pagenation{
	justify-content: center;
}

#error_explanation{
	color: $red;
	li{
	color: $red;
	}
}

/* ヘッダー */
.nav_container{
	background-color: $light_blue;
	height: 80px;
}

.site-logo{
	&:hover{
	color: $white;
	}
}

.nav_list_item{
	a{
	color: $white;
	}
}

.page_title{
	background-color: $gray;
	padding: 5px 20px;
	margin: 30px auto;
	text-align: center;
	font-weight: bold;
}

.header-4 {
  box-sizing: border-box;
  width: 100%;
}

.form2 {
  position: relative;
}

.form2-input {
  box-sizing: border-box;
  width: 180px;
  height: 28px;
  padding: 0 8px 0 30px;
  margin: 5px 0;
  font-size: 12px;
  color: #333;
  border: solid 1px #ccc;
  border-radius: 5px;
  outline: 0;
  transition: 0.3s;
  -webkit-appearance: none;
}

// 検索窓
.form2-input:focus {
  border: 1px solid #00b5ad;
}

.form2-button {
  position: absolute;
  top: 0;
  left: 2px;
  box-sizing: content-box;
  width: 30px;
  height: 38px;
  padding: 0;
  font-size: 16px;
  vertical-align: vertical-align;
  pointer-events: none;
  background: inherit;
  border: 0;
  opacity: 0.54;
}

/* button */
.btn_yellow{
	background-color: $yellow;
	color: $dark_gray;

	&:hover{
		color: $dark_gray;
	}
}

.btn_navy{
	background-color: $navy;
	color: $white;

	&:hover{
		color: $white;
	}
}

.btn_light_blue{
	background-color: $light_blue;
	color: $white;

	&:hover{
		color: $white;
	}
}