<h2 class="page_title col-lg-6 offset-lg-4">検索ワード：'<%= @search %>'</h2>
<div class="col-lg-10 mx-auto">
  <hr>
  <p>(全<%= @items.count %>件)</p>
    <%= render 'items/item_list', resource: @item %>
</div>