<div class="row">
	<div class="mx-auto">
		<% if resource.errors.any? %>
			<div id ="error_explanation">
				<h4><%= resource.errors.count %> 件のエラーがあります</h4>
				<ul>
					<% resource.errors.full_messages.each do |message| %>
					<li><%= message %></li>
					<% end %>
				</ul>
			</div>
		<% end %>
	</div>
</div>
